<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    {{ message }}
    <form
      action="/"
      method="POST"
      id="form"
      onsubmit="return isNotificationAllow()"
    >
      <label for="title">Title:</label><br />
      <input type="text" name="title" /><br />
      <label for="lname">Body:</label><br />
      <input type="text" name="body" /><br /><br />
      <input type="submit" value="Submit" />
    </form>

    <script>
      function isNotificationAllow() {
        if (Notification.permission === 'granted') {
          return true;
        } else {
          alert('Notification is not allowed here! :c');
          return false;
        }
      }

      window.addEventListener('load', async () => {
        const sw = await navigator.serviceWorker.register('/sw.js'); // done
        await subscribe(); // we are here!
      });

      const subscribe = async () => {
        const serviceWorker = await navigator.serviceWorker.ready;
        const subscription = await serviceWorker.pushManager.getSubscription();

        if (!subscription) {
          console.log('subscribing....');
          const push = await serviceWorker.pushManager.subscribe({
            userVisibleOnly: true,
            applicationServerKey:
              'BH62_hB1xJkNStldvYR6vc-50ksX3bTImdCXw2eCZYlrBLxAH9sVOf7TfIL79zUGQOLVuWc2tr_UG3NlWXjipik',
          });

          await sendToServer(push);
        }
      };

      const sendToServer = async subData => {
        await fetch('/subscribe', {
          method: 'POST',
          headers: {
            'content-type': 'application/json',
          },
          body: JSON.stringify({ sub: subData }),
        });
      };
    </script>

    <style>
      html,
      body {
        height: 100%;
        width: 100%;
      }

      body {
        background-color: white;
      }

      label {
        font-size: 2em;
      }

      input[type='text'] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 20px;
        box-sizing: border-box;
      }

      input[type='submit'] {
        background-color: #4caf50;
        color: white;
        font-size: 2em;
        padding: 0.2em;
        border: 0px solid white;
        width: 50%;
        display: block;
        align-content: center;
        margin: auto;
      }

      form {
        margin: auto;
        width: 50%;
        margin-top: 2em;
      }
    </style>
  </body>
</html>
